{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}
{% block body %}

{% include "navbar.html" %}
    <p class="display-3" id="homepageTitle">Reviews</p>
    <div class="row" id="Books_Container">
        {% for review in reviews %}
        <div class="jumbotron" id="review_View">
            <a href="{{ url_for('book', book_id=review.book_id) }}">
                <p>{{review.title}}</p>
            </a>
            <p>{{ review.review_content }}</p>
            <p>Rating: {{ review.review_rate }}</p>
        </div>
        {% else %}
        <div class="jumbotron" id="review_View">
            <p>No reviews found!</p>
            <p>Go back to a book and add a review!</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}
